[submodule "ce"]
	path = ce
	url = https://github.com/couchbase/couchbase-lite-java-ce
[submodule "common"]
	path = common
	url = https://github.com/couchbase/couchbase-lite-java-common
[submodule "core"]
	path = core
	url = https://github.com/couchbase/couchbase-lite-core

